{% extends "base.html" %}
{% load tailwind_filters %}

{% block content %}
<div class="max-w-lg mx-auto">
    <h1 class="text-4xl text-gray-800">reset your password</h1>
    <form class='mt-5' method="post">
        {% csrf_token %}
        {{form|crispy}}
        <a class="w-full text-white bg-blue-500 hover:bg-blue-600 px-3 py-1 rounded-md" href="{% url 'password_reset_done' %}" type="Submit">Reset password</a>
        <hr>
        <a class="hover:text-blue-500" href="{% url 'login' %}">Already have an account?</a>
    </form>
</div>
    
{% endblock content %}
